<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangkwon.backend.domain.auth.mapper.mybatis.RefreshTokenMapper">
	
	<select id="findByEmail" resultType="com.sangkwon.backend.domain.auth.entity.RefreshToken">
		select * from refresh_token where email = #{email}
	</select>
	
	<insert id="insertToken">
		insert into refresh_token (email, token, expires_at, created_at)
		values (#{email}, #{token}, #{expiresAt}, #{createdAt})
	</insert>
	
	<update id="updateToken">
		update refresh_token 
		set 
			token = #{token},
			expires_at = #{expiresAt},
			created_at = #{createdAt}
		where email = #{email}
	</update>
	
	<select id="findByToken" resultType="com.sangkwon.backend.domain.auth.entity.RefreshToken">
	    select * from refresh_token where token = #{token}
	</select>
	
	<insert id="insertBlacklistedToken">
	    insert into token_blacklist (token, expires_at, created_at)
	    values (#{token}, #{expiresAt}, #{createdAt})
	</insert>
	
	<select id="isTokenBlacklisted" resultType="int">
	    select case when count(*) > 0 then 1 else 0 end
	    from token_blacklist
	    where token = #{token}	
    </select>
	
</mapper>