<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangkwon.backend.domain.users.mapper.UsersMapper">
	
	<insert id="insertUser" parameterType="Users">
		insert into users (email, password, name, number, industry, created_at)
		values (#{email}, #{password}, #{name}, #{number}, #{industry}, now())
	</insert>	
	
</mapper>