<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.sangkwon.backend.domain.area.mapper.mybatis.AdmAreaMapper">
  	
  	<!-- 시/도 별 상가 수 -->
  	<select id="listSidoStats" resultType="com.sangkwon.backend.domain.area.dto.AreaCountDTO">
  		SELECT 
  			a.ctprvnNm AS name,
  			SUM(s.store_count) AS `count`
  		FROM adm_area a
  		JOIN adong_stats s ON s.adongCd = a.adongCd
  		GROUP BY a.ctprvnNm
  		HAVING name IS NOT NULL AND name != ''
  		ORDER BY count DESC, name ASC
  	</select>
  	
  	<!-- 특정 시/도의 구/군 별 상가 수 -->
  	<select id="listSigunguStats" resultType="com.sangkwon.backend.domain.area.dto.AreaCountDTO">
  		SELECT 
  			a.signguNm As name,
  			SUM(s.store_count) AS `count`
  		FROM adm_area a
  		JOIN adong_stats s ON s.adongCd = a.adongCd
  		WHERE a.ctprvnNm = #{sido}
  		GROUP BY a.signguNm
  		HAVING name IS NOT NULL AND name != ''
  		ORDER BY count DESC, name ASC
  	</select>
  	
  	<!-- 특정 시/도의 전체 합계 -->
	<select id="getSidoTotal" resultType="int">
		SELECT
			SUM(s.store_count) as `count`
		FROM adm_area a
		JOIN adong_stats s ON s.adongCd = a.adongCd
		WHERE a.ctprvnNm = #{sido}
	</select>  	
  </mapper>