<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.sangkwon.backend.domain.area.mapper.mybatis.AdmAreaMapper">
  	
  	<!-- 시/도 별 상가 수 -->
  	<select id="listSidoStats" resultType="com.sangkwon.backend.domain.area.dto.AreaCountDTO">
  		SELECT 
  			a.ctprvnNm AS name,
  			SUM(s.store_count) AS `count`
  		FROM adm_area a
  		JOIN adong_stats s ON s.adongCd = a.adongCd
  		GROUP BY a.ctprvnNm
  		HAVING name IS NOT NULL AND name != ''
  		ORDER BY `count` DESC, name ASC
  	</select>
  	
  	<!-- 특정 시/도의 구/군 별 상가 수 -->
  	<select id="listSigunguStats" resultType="com.sangkwon.backend.domain.area.dto.AreaCountDTO">
  		SELECT 
  			a.signguNm AS name,
  			SUM(s.store_count) AS `count`
  		FROM adm_area a
  		JOIN adong_stats s ON s.adongCd = a.adongCd
  		WHERE a.ctprvnNm = #{sido}
  		GROUP BY a.signguNm
  		HAVING name IS NOT NULL AND name != ''
  		ORDER BY `count` DESC, name ASC
  	</select>
  	
 	<!-- 특정 시/도의 구/군의 동 별 상가 수 -->
 	<select id="listDongStats" resultType="com.sangkwon.backend.domain.area.dto.AreaCountDTO">
 		SELECT
 			a.adongNm AS name,
 			SUM(s.store_count) AS `count`
 		FROM adm_area a
 		JOIN adong_stats s ON s.adongCd = a.adongCd
 		WHERE a.ctprvnNm = #{sido} and a.signguNm = #{sigungu}
 		GROUP BY a.adongNm
 		HAVING name IS NOT NULL AND name != ''
 		ORDER BY `count` DESC, name ASC
 	</select>
 
	<!-- 구 중심좌표 -->
 	<select id="getSigunguCenter" resultType="com.sangkwon.backend.domain.area.dto.SigunguCenterDTO">
 		SELECT
 			ctprvnNm AS sido,
 			signguNm AS sigungu,
 			center_lat AS centerLat,
 			center_lng AS centerLng
 		FROM area_center_gu
 		WHERE ctprvnNm = #{sido} 
	 		AND signguNm = #{sigungu}
 	</select>
 	
 	<!-- 동 중심좌표 -->
 	<select id="getDongCenter" resultType="com.sangkwon.backend.domain.area.dto.AdongCenterDTO">
 		SELECT
 			adongCd AS adongCd,
 			ctprvnNm AS sido,
 			signguNm AS sigungu,
 			adongNm AS dong,
 			center_lat AS centerLat,
 			center_lng AS centerLng
 		FROM area_center_dong
 		WHERE ctprvnNm = #{sido} 
	 		AND signguNm = #{sigungu}
	 		AND adongNm = #{dong}
 	</select>
 	
  </mapper>