.mainBanner {
    width: 100vw;
    height: 600px;
    background-color: var(--main-blue);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainBanner h1 {
    font-size: 3.7rem;
    font-weight: 700;
}

.mainBanner p {
    font-size: 1.5rem;
}

.mainBanner button {
    padding: 15px 30px;
    background-color: #fff;
    color: var(--main-blue);
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 9999px;
}