.authBanner {
    width: 100%;
    height: 350px;
    background-color: var(--main-blue);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authBanner h1 {
    font-size: 3rem;
    font-weight: 700;
}

.authBanner p {
    font-size: 1.4rem;
}

.form {
    border: 1px solid var(--border-color);
    padding: 1.5rem;
    max-width: 470px;
    width: 40%;
    margin: 5rem auto;
    border-radius: 0.75rem;
    box-shadow: .3rem .3rem .5rem -0.5rem #333;
}

.btnDiv {
    background-color: var(--bg-gray);
    display: flex;
    border-radius: 9999px;
    padding: .3rem;
}

.btnDiv button {
    width: 100%;
    border-radius: 9999px;
    padding: .5rem .1rem;
}

.btnDiv .active {
    background-color: var(--main-blue);
    color: #fff;
}

.inputBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
}

.inputBox input, .inputBox select {
    width: 100%;
    height: 40px;
    border-radius: .5rem;
    border: 1px solid var(--border-color);
    padding: 0 .6rem;
}

.inputBox span {
    color: red;
}

.form>button {
    width: 100%;
    height: 50px;
    border-radius: .5rem;
    background-color: var(--main-blue);
    color: #fff;
    font-size: 1.12rem;
    font-weight: 500;
    margin-top: .5rem;
}

.form>button:hover {
    background-color: var(--sub-blue);
}

.textBox {
    padding: 1.5rem;
    max-width: 470px;
    width: 40%;
    margin: 5rem auto;
    border-radius: 0.75rem;
    background-color: var(--light-blue);
    color: var(--dark-blue);
}

.text {
    text-align: left;
    padding: .25rem 0;
}

.text i {
    margin-right: .5rem;
}