.header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 5px 5px -5px #333;
}

.header>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 16px 32px;
}

.header a {
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  padding: 8px 12px;
}

.logo a {
    font-size: 1.3rem !important;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a:hover {
  color: var(--main-blue);
  text-decoration: underline;
}