.header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 5px 5px -5px #333;
  padding: 0 1.3rem;
}

.header>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height: 80px;
}

.header a {
  font-size: 1.125rem;
  font-weight: 600;
  color: #333;
  text-decoration: none;
}

.header .logo a {
  display: flex;
  flex-direction: column;
}

.kor {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1;
}

.blue {
  color: var(--main-blue);
}

.eng {
  font-size: .75rem;
  font-weight: 400;
  color: #555;
}

.nav {
  display: flex;
  gap: 3.5rem;
}

.nav a:hover {
  color: var(--main-blue);
  text-decoration: underline;
}